<html>
<head>
  <title>Personal Library</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1>Personal Library</h1>
  </header>
  <hr style="margin: 50px">
  <section id="formSection">
    <div id="sampleui">
      <h2>Sample Front-End:</h2>
      <form id="newBookForm" class="border shadoweffect" method="post" action="/api/books/check/">
        <input type="text" id="bookTitleToAdd" name="createTitle" placeholder="New Book Title" style="width: 295px">
        <input type="text" id="bookCommentToAdd" name="createComment" placeholder="comment" style="width: 295px">
        <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
      </form><br>
      <h2>Get all book listings</h2>
      <form id="getAllBookForm" class="border shadoweffect" method="get" action="/api/books/check/">
        <button type="submit" value="Submit" id="getEveryBook">Get every Book!</button>
      </form>
      <br>
      <h2>Get book with id</h2>
      <form id="getBookWithIdForm" class="border shadoweffect" method="get" action="/api/books/check/:id">
        <input type="text" id="bookWithIdToGet" name="getIdForBook" placeholder="Book id" style="width: 295px">
        <br />
        <button type="submit" value="Submit" id="getBookWithId">Get book!</button>
      </form>
      <br>
      <h2>Add comment to Book</h2>
      <form id="addCommentWithIdForm" class="border shadoweffect" method="post" action="/api/books/check/:id">
        <input type="text" id="bookIdToPostUpdateComment" name="postIdForComment" placeholder="Book id" style="width: 295px">
        <input type="text" id="bookCommentToUpdate" name="updateComment" placeholder="Make comment" style="width: 295px">
        <br />
        <button type="submit" value="Submit" id="addCommentWithId">Add comment!</button>
      </form>
      <br><br>

      <h2>Remove book with id</h2>
      <form id="removeBookWithIdForm" class="border shadoweffect" method="POST" action="/api/books/check/:id?_method=DELETE">
        <input type="text" id="removebookWithId" name="IdForRemoveBook" placeholder="Book id" style="width: 295px">
        <input type="hidden" id="rmvbookWithId" name="_method" placeholder="" style="width: 295px">
        <br>
        <button type="submit" value="Submit" id="removeBookWithId">Remove book</button>
      </form>
      <br><br>
      <br>
      <h2>Delete all books</h2>
      <form id="removeAllBooks" class="border shadoweffect" method="POST" action="/api/books/check?_method=DELETE">
        <button id="deleteAllBooks">Delete all books...</button>
      </form>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
          integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous"></script>
  <script src="/public/client.js"></script>
  <script>
    /*
    *  For #sampleposting to update form action url to test inputs book id
    */
    $(function () {
      $('#commentTest').submit(function () {
        var id = $('#idinputtest').val();
        $(this).attr('action', "/api/books/" + id);
      });
    });
  </script>
</body>
</html>
