:root {
  --form-hover-color: hsl(120, 93%, 79%); 

}

body {

}

h1 {
  text-align: center;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

#formSection {
  display: flex;
  justify-content: center;
}

.shadoweffect {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 320px;
}

form:hover {
  background-color: var(--form-hover-color);
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
}

#userstories {
  margin-left: 5%;
}

form {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  #titleLine {
    margin-bottom: 40px;
  }

  #sampleui {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  #sampleui {
    grid-column-gap: 40px; 
  }
}